<!doctype html>
<style>
.circle {
 border-radius: 50%;
 object-fit: cover;
}
</style>
 
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Peter Whitman | Personal Website</title>
    <meta name="title" content="Peter Whitman | Personal Website">
    <meta name="description" content="Remote sensing researcher at the U.S. Environmental Protection Agency (EPA) Office of Research and Development">
    <link rel="shortcut icon" type="image/x-icon" sizes="32x32" href="logos/favicon-32x32.png?">
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://peterwhitman.github.io/">
    <meta property="og:title" content="Peter Whitman | Personal Website">
    <meta property="og:description" content="Remote sensing researcher at the U.S. Environmental Protection Agency (EPA) Office of Research and Development">
    <meta property="og:image" content="https://github.com/peterwhitman/peterwhitman.github.io/images/PA281604.JPG">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://peterwhitman.github.io/">
    <meta property="twitter:title" content="Peter Whitman | Personal Website">
    <meta property="twitter:description" content="Remote sensing researcher at the U.S. Environmental Protection Agency (EPA) Office of Research and Development">
    <meta property="twitter:image" content="https://github.com/peterwhitman/peterwhitman.github.io/images/PA281604.JPG">

{% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <img class="circle" src="images/headshot_square.JPG" width="150" height="150">
        <a href="{{ site.github.url }}"> <h1>{{ site.title }}</h1> </a>
        <p><a href="{{ site.github.url }}">About</a></p>
        <!--<p><a href="projects">Projects</a></p>-->
        <p><a href="files/Whitman_Resume.pdf" target="\blank">Resume</a></p>
        <p><a href="files/Whitman_CV.pdf" target="\blank">Curriculum Vitae</a></p>

      </header>
      <section>

      {{ content }}

      </section>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>

  </body>
</html>
