<!doctype html>
<style>
.circle {
 border-radius: 50%;
 object-fit: cover;
}
</style>
 
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="google-site-verification" content="gCAElCtvSFWnGWFBRbIu8a8Wsf2ieZ_ENA-alOp8cMk" />

{% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <img class="circle" src="images/headshot_square.JPG" width="150" height="150">
        <a href="{{ site.github.url }}"> <h1>{{ site.title | default: site.github.repository_name }}</h1> </a>
        <p><a href="index">About</a></p>
        <!--<p><a href="projects">Projects</a></p>-->
        <p><a href="files/Whitman_Resume.pdf" target="\blank">Resume</a></p>
        <p><a href="files/Whitman_CV.pdf" target="\blank">Curriculum Vitae</a></p>

      </header>
      <section>

      {{ content }}

      </section>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>

  </body>
</html>
